<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div id="user-list"></div>

<br>

<%= link_to 'New User', new_user_path, class: 'link-new' %>

<%= image_tag '/assets/sample-img.jpg', class: 'sample-img' %>
