// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link-new {
  display: block;
}

.sample-img {
  margin-top: 20px;
  max-height: 400px;
}
