<!DOCTYPE html>
<html>
  <head>
    <title>RailsWebpackReact</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    '/assets/application', media: 'all' %>
    <%= javascript_include_tag '/assets/application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
